* {
  font-family: arial, sans-serif;
}

html {
  background-color: lightyellow;
}

body {
  background-color: lightgray;
  width: 80%;
  max-width: 800px;
  margin: 20px auto 20px auto;
  padding: 20px;
  border-radius: 8px;
}

img {
  -drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

#grid {
  display: grid;
  background-color: #727272;
}

.block {
  position: relative;
}

.neighbour-text {
  position: absolute;
}

.neighbour-text {
  top: 50%;
  right: 50%;
  z-index: 2;
}

.block-image {
  width: 100%;
  display: block;
  image-rendering: pixelated;
}

.triggered-mine {
  animation: triggered-mine 1.5s infinite;
}

@keyframes triggered-mine {
  0% { filter: saturate(0%); }
  50% { filter: saturate(100%); }
  100% { filter: saturate(0%); }
}
